body {
  font-family: Helvetica;
  text-align: center;
}

#top {
    background-image: url(../images/the-flatiron-building.png);
    color: white;

  }

.nav{
  font-size: 18px;
}

h1{
    font-size: 70px;
    font-weight: bold;
  }

h2{
      font-size: 32px;
      font-weight: bold;
    }

h3{
      font-size: 23px;
      font-weight: bold;
    }
p{
  font-size: 14px;
}

.nav{
font-size: 18px;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
    font-size: 32px;
    font-weight: bold;
  }

h3{
    font-size: 23px;
    font-weight: bold;
  }

.newyork {
font-weight: bold;
font-size: 23px;
color: white;
background-image: url(../images/the-flatiron-building.png);
}

.foot p{
  text-align: left;
  color: white;
  background-image: url(../images/the-flatiron-building.png);
  font-size: 11px;
}

.foot span{
  font-size: 23px;
}
